name: Auto-merge

on:
  pull_request:
    types: [labeled, synchronize, opened, ready_for_review]
  check_suite:
    types: [completed]
  workflow_run:
    workflows: [CI]
    types: [completed]

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    runs-on: ubuntu-latest
    if: >
      github.event_name == 'workflow_run' &&
      github.event.workflow_run.conclusion == 'success' ||
      github.event_name == 'pull_request' ||
      github.event_name == 'check_suite'

    steps:
      - name: Auto-merge PR
        uses: pascalgn/automerge-action@v0.16.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_LABELS: automerge
          MERGE_REMOVE_LABELS: automerge
          MERGE_METHOD: squash
          MERGE_COMMIT_MESSAGE: pull-request-title
          MERGE_FORKS: false
          MERGE_RETRIES: 6
          MERGE_RETRY_SLEEP: 10000
          UPDATE_LABELS: ''
          UPDATE_METHOD: rebase
